@model IEnumerable<AgendaMedica.Models.Medico>

@{
	ViewData["Title"] = "Médicos";
}


<div class="container text-light mt-5">
	<h1 class="text-center display-5">Cadastro de <span class="fw-bold">Médicos</span></h1>

	<p>
		<a asp-action="Create" class="btn btn-outline-light btn-lg w-25"><i class="bi bi-plus-circle"></i>Adicionar</a>
	</p>
	<table class="table table-info table-striped table-borderless">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Nome)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.CRM)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Celular)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Especialidade)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CRM)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Celular)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Especialidade.Nome)
					</td>
					<td>
						<a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.MedicoId">Editar</a> |
						<a class="btn btn-light btn-sm" asp-action="Delete" asp-route-id="@item.MedicoId">Exclui</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
